/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:white;
	--color-background:black;
}
body{
	background-color: burlywood;
}
a{
	color: white;
}
text{
	color:red;
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

